.mydir{
  width: 100%;
  height: 100%;
  display: flex;
  .menu{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 300px;
    height: 100%;
    .top{
      width: 100%;
      height: 0;
      flex: 1;
      margin: 4px 0px 4px 0px;
      position: relative;
      .mynewnodes{
        position: absolute;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
      }
      .mysearchnodes{
        top: 0;
        left: 0;
        position: absolute;
      }
    }
    .bottom{
      align-items: center;
      display: flex;
      .switch{
        cursor: pointer;
        width: 30px;
      }
    }
  }
  .markdown{
    display: flex;
    flex: 1;
    width: 0;
    height: 100%;
  }
  .nodetree{
    position: absolute;
    width: 100%;
    height: 100%;

  }
}
