.root{
  .urlsblock{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    .urls{
      cursor: pointer;
      margin: 20px;
      .img{
        width: 100px;
        height: 100px;
      }
    }
  }

}