.root{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.top{
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #333333;
  align-items: center;
  .titles{
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    .title{
      padding: 0px 40px;
      color: white;
      cursor: pointer;
    }
  }
}
.container{
  flex: 1;
  width: 100%;
  background-color: #cccccc;
}