.markdownroot{
  width: 0;
  flex: 1;
  margin: 4px 2px 0px 4px;
  border: #CCCCCC 1px solid;
  .markdown{
    border: 0;
    padding: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    outline: none;
    resize: none;
  }

}
.htmlroot{
  width: 0;
  flex: 1;
  margin: 4px 4px 0px 2px;
  border: #CCCCCC 1px solid;
  overflow-y: auto;
  overflow-x: auto;
  word-break: break-all;
}
*{
  font-size: 15px;
}

