.mymarkdownroot{
  position: relative;
  .markdownroot{
    width: 0;
    flex: 1;
    margin: 4px 2px 0px 4px;
    border:var(--bordercolor) 1px solid;
    .markdown{
      border: 0;
      padding: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      outline: none;
      resize: none;
    }

  }
  .htmlroot{
    width: 0;
    flex: 1;
    border:var(--bordercolor) 1px solid;
    margin: 4px 4px 0px 2px;
    overflow-y: auto;
    overflow-x: auto;
    word-break: break-all;
  }
  *{
    font-size: 15px;
  }
  .comtextdialog{
    box-shadow: 1px 1px 2px grey;
    font-size: 14px;
    clear: both;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: #CCCCCC 1px solid;
    .itemcontent{
      display: flex;
      &:hover{
        background: #0099FF;
        color: white;
      }
      cursor: pointer;
      text-align: center;
      width: calc(100%);
      display: inline-block;
      .item{
        width: 100%;
        border-bottom: #CCCCCC 1px solid;
      }
      &:last-child{
        border-bottom: none;
      }
    }

  }
  .insertlinkdialog{
    box-shadow: 1px 1px 2px grey;
    font-size: 14px;
    clear: both;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .form{
      align-items: center;
      display: flex;
      .label{
        width: 50px;
      }
      .input{
        width: 200px;
      }
      .button{
        margin: 0px 0px 0px 5px;
      }
    }
    /deep/.el-form-item{
      margin: 0px 0px 2px 0px;
    }
  }
}


