.photoroot{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  width: 100%;
  .album{
    justify-content: left;
    overflow-y: auto;
    height: 0;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    .photocontent{
      display: flex;
      width: auto;
      height: auto;
      background: grey;
      border: gray 1px solid;
      counter-reset: items;
      box-sizing: border-box;
      .elimage{
        width:200px;
        height: auto;
        max-height: 400px;
      }
      .img{
        width: 100%;
        height: auto;
      }
    }
  }
  .pagination{
    text-align: center;
  }
}
