@font-face {
  font-family: 'JetBrainsMono';
  src: url('../assets/webfont/JetBrainsMono-Regular.woff2');
  font-style: normal;
  font-weight: normal;
}

*{
  font-family:"Fira Code";
}
.vroot{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hroot{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.v{
  display: flex;
  flex-direction: column;
}
.h{
  display: flex;
  flex-direction: row;
}
.myscroller,.hljs{
  &::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background: grey;
  }
  &::-webkit-scrollbar-thumb{
    background: #a9a9a9;
  }
  &::-webkit-scrollbar-track{
    background: #dcdcdc;
    cursor: pointer;
  }
}
.textstyletitle{
  font-size: 14px;
  .childcount{
    margin-left: 3px;
    color:#2ECCFA;
    font-size: 10px;
  }
}
.maincolor{
  color: #0099FF;
}
.graycolor{
  color: #a9a9a9;
}

.mymaintheme{
  background: var(--background);
  color:var(--color);
}
.myinputtheme{
  background: var(--inputbackgound);
  color:var(--color);
}
.selectedtheme{
  color: var(--selectedcolor);
  background: var(--selectbackground);
}
.unselectedtheme{
  color: var(--unselectcolor);
  background: var(--unselectedbackground);
}
.mylinetheme{
  background: var(--linecolor);
}
